<h1> List of all contacts  </h1>
<table>
<% @contacts.each do |x| %>
	<tr>
	<td><%=x.firstname%> <%=x.lastname%> </td> 
	<td><%=x.email%> </td>
	<td><%=x.mobile %> </td>
	<td><%= x.address %> </td>
	<td><%= link_to "Show",contact_path(x) %></td>
	<td><%= link_to "Edit",edit_contact_path(x) %></td>
	<td><%= link_to "Delete",contact_path(x), method: :delete %></td>
	</tr>
<% end %>
</table>
<%= link_to "Create New contact", new_contact_path %></td>