<h1> Contact : </h1>
Name: <%=@contact.firstname %> <%= @contact.lastname %><br/>
Email ID: <%= @contact.email %><br/>
Mobile Number: <%= @contact.mobile %><br/>
Address :<%= @contact.address %><br/>
Image location : "<%= @contact.image_location %>"<br/>
Your pic: <img src="/data/<%= @contact.image_location %>">
